.elementor-kit-11{--e-global-color-primary:#FFFFFF;--e-global-color-secondary:#A2A2A4;--e-global-color-text:#A2A2A4;--e-global-color-accent:#F2A93B;--e-global-typography-primary-font-family:"Lato";--e-global-typography-primary-font-weight:800;--e-global-typography-primary-font-style:italic;--e-global-typography-secondary-font-family:"Lato";--e-global-typography-secondary-font-weight:700;--e-global-typography-text-font-family:"Lato";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Lato";--e-global-typography-accent-font-weight:900;color:var( --e-global-color-text );background-color:#1C1C1D;}.elementor-kit-11 a{color:var( --e-global-color-accent );}.elementor-kit-11 h1{color:var( --e-global-color-primary );}.elementor-kit-11 h2{color:var( --e-global-color-primary );font-family:"Lato", Sans-serif;font-size:36px;font-weight:700;line-height:45px;}.elementor-kit-11 button,.elementor-kit-11 input[type="button"],.elementor-kit-11 input[type="submit"],.elementor-kit-11 .elementor-button{font-family:"Lato", Sans-serif;font-size:16px;font-weight:400;line-height:30px;color:var( --e-global-color-accent );background-color:#FFFFFF00;border-style:solid;border-width:1px 1px 1px 1px;border-radius:10px 10px 10px 10px;padding:7px 20px 7px 20px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-container{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:24px;}.elementor-element{--widgets-spacing:24px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-11 e-page-transition{background-color:#FFBC7D;}.site-header .header-inner{width:1116px;max-width:100%;}.site-header{padding-right:0px;padding-left:0px;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}/* Start custom CSS */body {
    min-width: 320px;
}

/* Custom column padding */
.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 12px
}

/* Stroke texts */
.text-stroke {
    -webkit-text-fill-color: transparent;
}
body[data-elementor-device-mode="mobile"]
  .text-stroke {
    -webkit-text-stroke-width: 1px;
}
body[data-elementor-device-mode="tablet"]
  .text-stroke,
body[data-elementor-device-mode="desktop"]
  .text-stroke {
    -webkit-text-stroke-width: 2px;
}

/* Button icon */
.elementor-button icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 3px;
    line-height: 16px;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
}

/* FlipBox default background removal */
.elementor-flip-box__front {
    background-color: transparent !important;
}/* End custom CSS */